.container {
  flex: 1;
  background-color: '#fff';
  align-items: 'center';
  justify-content: 'center';
  align-self: 'stretch';
}
.button {
  align-items: 'center';
  justify-content: 'center';
  padding: 12px 32px;
  border-radius: 4px;
  z-index: 3;
  background-color: 'black';
};
.text {
  font-size: 18;
  font-family: 'Lucida Sans';
  line-height: 21;
  font-weight: 'bold';
  letter-spacing: 0.25;
  color: 'white';
}
.text1 {
  font-size: 18;
  font-family: 'Lucida Sans';
  line-height: 21;
  font-weight: 'bold';
  letter-spacing: 0.25;
  color: 'black';
}
.headerText {
  font-size: 20;
  font-family: 'Lucida Sans';
  line-height: 21;
  font-weight: 'bold';
  letter-spacing: 0.25;
  color: 'black';
  align-items: 'flex-end';
  width: '90%';
}